openapi: 3.1.0
info:
  title: Oxy REST API
  version: 1.0.0
  description: >
    The Oxy REST API powers every official Oxy app (web, iOS, Android) and is
    open to third-party integrations via Applications registered in the Oxy
    Console. It covers authentication, device sessions, accounts, files,
    billing, notifications, email, federation (ActivityPub), and developer
    tooling.
servers:
  - url: https://api.oxy.so
    description: Production
  - url: http://localhost:4100
    description: Local development
tags:
  - name: Authentication
    description: >
      Sign up, sign in, refresh sessions, 2FA, public-key challenge-response,
      device-session bootstrap, and OAuth 2.0 for third-party apps. Routes
      under /auth/*.
  - name: Users
    description: >
      Read / update the current user, follow graph, account export and
      deletion, internal user resolution. Routes under /users/*.
  - name: Profiles
    description: >
      Public profile reads (no auth required) — by username, by ID, with
      similar / recommended profile lookups. Routes under /profiles/*.
  - name: Sessions
    description: >
      Session management: list, validate, log out one or all sessions on a
      device, plus the server-authoritative device-session state (accounts,
      active account, revision). Routes under /session/* and
      /session/device/*.
  - name: Devices
    description: >
      List the user's signed-in devices, inspect security signals, and
      remotely sign devices out. Routes under /devices/*.
  - name: Privacy
    description: >
      Per-account privacy settings: visibility, blocked users, restricted
      users. Routes under /privacy/*.
  - name: Security
    description: >
      Account activity log and TOTP-based two-factor authentication setup.
      Routes under /security/*.
  - name: Contacts
    description: >
      Privacy-first contact discovery via SHA-256 hashed identifiers. The
      server never sees raw email or phone. Routes under /contacts/*.
  - name: Files
    description: >
      User-owned file storage — upload, link to entities, sign download URLs,
      manage variants. Routes under /assets/* and /storage/*.
  - name: Email
    description: >
      Mailboxes, messages, threads, labels, drafts, attachments, and inbound
      mail webhooks. Routes under /email/*.
  - name: Notifications
    description: In-app notifications and per-channel preferences.
  - name: Search
    description: Full-text search across users, profiles, and posts.
  - name: Developer
    description: >
      Applications, credentials, webhook subscriptions, and usage analytics
      for the developer console. Routes under /applications/*.
  - name: Payments
    description: Stripe-backed payments, saved payment methods, refunds.
  - name: Subscription
    description: Subscription plans, billing cycles, customer portal links.
  - name: Billing
    description: Stripe webhooks, invoices, charge history.
  - name: Credits
    description: Per-user credit ledger and grants used by AI / paid features.
  - name: Wallet
    description: User wallet — balance, top-up, transfers.
  - name: Reputation
    description: Oxy Trust — reputation transaction ledger, balances, trust tiers, influence, disputes.
  - name: Federation
    description: >
      ActivityPub / WebFinger inbox-outbox endpoints for cross-instance
      federation. Routes under /federation/*.
  - name: AI
    description: AI features — the Alia assistant proxy.
  - name: Inference
    description: >
      The public inference edge (/v1/*), the model catalogue, and the
      control-plane surfaces behind it — routing policies, provider
      connections (BYOK), usage reporting and the staff deployment admin.
      Routes under /v1/*, /models/* and /inference/*.
  - name: Analytics
    description: Read-only analytics for the authenticated account.
  - name: System
    description: Platform health, uptime, public metadata.
  - name: Misc
    description: Miscellaneous endpoints not covered by another group.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        User session JWT obtained from /auth/verify, /auth/webauthn/login/verify,
        /auth/oauth/token, or POST /session/device/token. Send as
        `Authorization: Bearer <token>`.
    serviceTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Service-to-service JWT obtained from /auth/service-token by exchanging
        a `service`-type ApplicationCredential (publicKey + secret). For
        delegated calls also include `X-Oxy-User-Id: <userId>`.
    machineCredentialAuth:
      type: http
      scheme: bearer
      bearerFormat: oxy_sk_<id>_<secret>
      description: >
        Machine credential for the inference edge, created in the developer
        console: `oxy_sk_` followed by a 16-hex credential id, an underscore,
        and a 64-hex secret. Sent as `Authorization: Bearer oxy_sk_...`. It is
        not a JWT and carries no user identity — the owning account and
        application come from the credential row. A user session bearer is
        refused on /v1/*.
    capabilityTicketAuth:
      type: http
      scheme: Capability
      description: >
        Short-lived, signed and audience-bound authority for one exact actor,
        account, resource and tool. Send as `Authorization: Capability <ticket>`.
        It is accepted only by routes whose app catalog exposes that tool and is
        re-authorized immediately before execution so revocation takes effect.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: >
        Required for state-changing requests against CSRF-protected routes.
        Obtain a token from any GET response (set via the `XSRF-TOKEN` cookie)
        and echo it on subsequent POST/PUT/PATCH/DELETE calls. Only enforced
        when cookies are present.
  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Machine-readable error code (SCREAMING_SNAKE_CASE).
          example: VALIDATION_FAILED
        message:
          type: string
          description: Human-readable error message.
          example: Validation failed
        details:
          type: object
          description: Additional error details (optional).
          additionalProperties: true
    OAuthError:
      type: object
      description: >
        RFC 6749 §5.2 / RFC 6750 §3 error document. The OAuth endpoints
        (`/auth/oauth/token`, `/auth/oauth/userinfo`) use this instead of the
        house `Error` envelope because standard OAuth clients branch on the
        top-level `error` code — that requirement comes from the specification,
        not from Oxy's conventions.
      required:
        - error
      properties:
        error:
          type: string
          description: RFC error code.
          enum:
            - invalid_request
            - invalid_client
            - invalid_grant
            - unauthorized_client
            - unsupported_grant_type
            - invalid_scope
            - server_error
            - invalid_token
            - insufficient_scope
          example: invalid_grant
        error_description:
          type: string
          description: Human-readable detail. Never discloses which internal check failed.
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        total:
          type: integer
          description: Total number of records matching the query.
          example: 142
        limit:
          type: integer
          description: Page size used for this response.
          example: 20
        offset:
          type: integer
          description: Zero-based offset applied to this page.
          example: 0
        hasMore:
          type: boolean
          example: true
    User:
      type: object
      description: A public-facing user profile.
      properties:
        id:
          type: string
          description: >-
            Stable Oxy user ID, in one of TWO formats. Accounts created before
            the Postgres cutover keep their 24-character hexadecimal id
            verbatim; every account created since is a uuid v7. The column is a
            uniform string — only the value format is mixed — so treat this as
            an opaque identifier and never assume the 24-hex shape. A client
            that validates against ObjectId alone rejects every account created
            after the cutover.
          pattern: >-
            ^(?:[0-9a-fA-F]{24}|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$
          examples:
            - 019fb834-d8a6-73fc-9073-da304c940f28
            - 64f7c2a1b8e9d3f4a1c2b3d4
        username:
          type: string
          example: alice
        name:
          type: object
          properties:
            first:
              type: string
              example: Alice
            last:
              type: string
              example: Example
        avatar:
          type: string
          description: Avatar asset URL or asset ID.
          example: https://api.oxy.so/assets/64f7.../stream
        description:
          type: string
          example: Coffee, code, and open source.
        type:
          type: string
          enum: [local, federated, agent, automated]
          description: Account type. Local users are first-party Oxy accounts; federated users come from ActivityPub instances; agents / automated accounts are programmatic.
        publicKey:
          type: string
          description: secp256k1 public key in hex.
        _count:
          type: object
          properties:
            followers:
              type: integer
              example: 42
            following:
              type: integer
              example: 17
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Session:
      type: object
      description: A device-bound user session.
      properties:
        id:
          type: string
          example: sess_64f7c2a1b8e9d3f4a1c2b3d4
        deviceName:
          type: string
          example: iPhone 15 Pro
        deviceFingerprint:
          type: string
        ip:
          type: string
          example: 198.51.100.42
        userAgent:
          type: string
          example: OxyApp/1.0 (iOS 18.0)
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        isCurrent:
          type: boolean
          example: true
    Device:
      type: object
      description: A device that has at least one active session.
      properties:
        id:
          type: string
          example: dev_64f7c2a1b8e9d3f4a1c2b3d4
        name:
          type: string
          example: MacBook Pro 16
        platform:
          type: string
          example: macOS
        firstSeenAt:
          type: string
          format: date-time
        lastSeenAt:
          type: string
          format: date-time
        sessionCount:
          type: integer
          example: 2
    AuthSuccess:
      type: object
      description: Successful authentication response from /auth/verify, /auth/webauthn/login/verify, or /auth/oauth/token.
      properties:
        user:
          $ref: '#/components/schemas/User'
        sessionId:
          type: string
          example: sess_64f7c2a1b8e9d3f4a1c2b3d4
        accessToken:
          type: string
          description: Short-lived JWT for API calls. Typically valid 15 minutes.
        refreshToken:
          type: string
          description: Long-lived refresh token. Submit to /auth/refresh for a new access token.
        expiresIn:
          type: integer
          description: Lifetime of `accessToken` in seconds.
          example: 900
security:
  - bearerAuth: []
