{
  "openapi": "3.1.0",
  "info": {
    "title": "Oxy REST API",
    "version": "1.0.0",
    "description": "The Oxy REST API powers every official Oxy app (web, iOS, Android) and is open to third-party integrations via Applications registered in the Oxy Console. It covers authentication, device sessions, accounts, files, billing, notifications, email, federation (ActivityPub), and developer tooling."
  },
  "servers": [
    {
      "url": "https://api.oxy.so",
      "description": "Production"
    },
    {
      "url": "http://localhost:4100",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "User session JWT obtained from /auth/verify, /auth/webauthn/login/verify, /auth/oauth/token, or POST /session/device/token. Send as `Authorization: Bearer <token>`."
      },
      "serviceTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Service-to-service JWT obtained from /auth/service-token by exchanging a `service`-type ApplicationCredential (publicKey + secret). For delegated calls also include `X-Oxy-User-Id: <userId>`."
      },
      "machineCredentialAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "oxy_sk_<id>_<secret>",
        "description": "Machine credential for the inference edge, created in the developer console: `oxy_sk_` followed by a 16-hex credential id, an underscore, and a 64-hex secret. Sent as `Authorization: Bearer oxy_sk_...`. It is not a JWT and carries no user identity — the owning account and application come from the credential row. A user session bearer is refused on /v1/*."
      },
      "csrfToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSRF-Token",
        "description": "Required for state-changing requests against CSRF-protected routes. Obtain a token from any GET response (set via the `XSRF-TOKEN` cookie) and echo it on subsequent POST/PUT/PATCH/DELETE calls. Only enforced when cookies are present."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code (SCREAMING_SNAKE_CASE).",
            "example": "VALIDATION_FAILED"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "description": "Additional error details (optional).",
            "additionalProperties": true
          }
        }
      },
      "OAuthError": {
        "type": "object",
        "description": "RFC 6749 §5.2 / RFC 6750 §3 error document. The OAuth endpoints (`/auth/oauth/token`, `/auth/oauth/userinfo`) use this instead of the house `Error` envelope because standard OAuth clients branch on the top-level `error` code — that requirement comes from the specification, not from Oxy's conventions.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "RFC error code.",
            "enum": [
              "invalid_request",
              "invalid_client",
              "invalid_grant",
              "unauthorized_client",
              "unsupported_grant_type",
              "invalid_scope",
              "server_error",
              "invalid_token",
              "insufficient_scope"
            ],
            "example": "invalid_grant"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable detail. Never discloses which internal check failed."
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query.",
            "example": 142
          },
          "limit": {
            "type": "integer",
            "description": "Page size used for this response.",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "description": "Zero-based offset applied to this page.",
            "example": 0
          },
          "hasMore": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A public-facing user profile.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable Oxy user ID, in one of TWO formats. Accounts created before the Postgres cutover keep their 24-character hexadecimal id verbatim; every account created since is a uuid v7. The column is a uniform string — only the value format is mixed — so treat this as an opaque identifier and never assume the 24-hex shape. A client that validates against ObjectId alone rejects every account created after the cutover.",
            "pattern": "^(?:[0-9a-fA-F]{24}|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$",
            "examples": [
              "019fb834-d8a6-73fc-9073-da304c940f28",
              "64f7c2a1b8e9d3f4a1c2b3d4"
            ]
          },
          "username": {
            "type": "string",
            "example": "alice"
          },
          "name": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "example": "Alice"
              },
              "last": {
                "type": "string",
                "example": "Example"
              }
            }
          },
          "avatar": {
            "type": "string",
            "description": "Avatar asset URL or asset ID.",
            "example": "https://api.oxy.so/assets/64f7.../stream"
          },
          "description": {
            "type": "string",
            "example": "Coffee, code, and open source."
          },
          "type": {
            "type": "string",
            "enum": [
              "local",
              "federated",
              "agent",
              "automated"
            ],
            "description": "Account type. Local users are first-party Oxy accounts; federated users come from ActivityPub instances; agents / automated accounts are programmatic."
          },
          "publicKey": {
            "type": "string",
            "description": "secp256k1 public key in hex."
          },
          "_count": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "example": 42
              },
              "following": {
                "type": "integer",
                "example": 17
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Session": {
        "type": "object",
        "description": "A device-bound user session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "deviceName": {
            "type": "string",
            "example": "iPhone 15 Pro"
          },
          "deviceFingerprint": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "example": "198.51.100.42"
          },
          "userAgent": {
            "type": "string",
            "example": "OxyApp/1.0 (iOS 18.0)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastActiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "isCurrent": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Device": {
        "type": "object",
        "description": "A device that has at least one active session.",
        "properties": {
          "id": {
            "type": "string",
            "example": "dev_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "name": {
            "type": "string",
            "example": "MacBook Pro 16"
          },
          "platform": {
            "type": "string",
            "example": "macOS"
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "sessionCount": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "AuthSuccess": {
        "type": "object",
        "description": "Successful authentication response from /auth/verify, /auth/webauthn/login/verify, or /auth/oauth/token.",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "sessionId": {
            "type": "string",
            "example": "sess_64f7c2a1b8e9d3f4a1c2b3d4"
          },
          "accessToken": {
            "type": "string",
            "description": "Short-lived JWT for API calls. Typically valid 15 minutes."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived refresh token. Submit to /auth/refresh for a new access token."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Lifetime of `accessToken` in seconds.",
            "example": 900
          }
        }
      }
    }
  },
  "paths": {
    "/.well-known/did.json": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "GET /.well-known/did.json",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/did.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "The OPERATOR's accessible account forest: their own personal account plus every",
        "description": "account they can reach (direct membership + inherited subtree). Flat by\ndefault; `?tree=true` nests children under parents.\n\nAnchored on the operator (the human), NOT the currently-active account, so the\nswitchable set is IDENTICAL regardless of which of the operator's accounts is\nactive — switching only flips which account is marked current, never which are\nlisted. (When acting-as a leaf sub-account, anchoring on the active account\nwould collapse the list to just that account.)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create an account. `parentAccountId` defaults to the caller's own personal",
        "description": "account when omitted (a top-level org/project/bot they own). The caller must\nhold `children:create` over the parent.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/service/channels": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Mint a `channel` account under `ownerUserId`, who becomes its `owner` member.",
        "description": "`kind` is NOT accepted from the body — it is hardcoded, so this credential can\nnever mint an account that anyone could subsequently act as.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/accounts/service/channels/{id}/members": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Grant membership on a CHANNEL. `owner` is not assignable (the schema's role",
        "description": "enum excludes it) — ownership moves only via transfer-ownership.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/accounts/service/channels/{id}/members/{memberUserId}": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Revoke membership on a CHANNEL. Keyed on the member's USER id rather than the",
        "description": "membership row id: the caller knows who it is removing, not which row records\nit. Removing the owner is refused by `accountService.removeMember`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a single account the caller can read.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Partially update an account (`account:update`).",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Archive an account (`account:delete`). Never hard-deletes.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/audit": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "`GET /accounts/:id/audit` — what changed on this account, and who did it.",
        "description": "The union of the two audit event tables, newest first, cursor-paginated. It\nexists because both underlying reads are PER-ENTITY, so a Console page\nanswering \"what happened on this account\" would otherwise be one request per\ncredential per application plus one per connection — an unbounded fan-out\nassembling an aggregate the API never computed.\n\n## Both permissions, and a refusal rather than a partial list\n\nThe union spans two sources that are separately gated: a credential's trail\nneeds `credentials:read` and a connection's needs `inference:providers:read`.\nThis route requires BOTH, so a caller holding one gets 403 rather than a list\nthat silently omits the other half.\n\nThat is deliberate for an AUDIT surface specifically. Everywhere else in this\nAPI, narrowing a result to what the caller may see is the right answer; here it\nwould produce a trail that reads as complete and is not, which is the one\nfailure an audit view must not have. `account:read` alone would be worse\nstill — it is baseline for every role, so a `viewer` would read credential\nhistory they are refused per credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/billing/audit": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "`GET /accounts/:id/billing/audit` — what changed about this account's money.",
        "description": "The customer-facing projection of `billing_ledger_entries`, newest first,\ncursor-paginated: top-ups, promotional grants, reversals of settled charges\nand invoice payments. Things the customer did, or that were done to them.\n\nThe other five entry kinds are withheld, and the internal chart of accounts,\nthe postings' amounts and the id of the staff member behind a grant are never\nprojected at all — `services/accountBillingAudit.service.ts` argues each of\nthose decisions where it is implemented.\n\n## `billing:read`, and only that\n\nOne source, one permission — unlike `/:id/audit`, which spans two separately\ngated tables and therefore demands both. `billing:read` is the permission the\nrest of this API already uses for every money read (`utils/accountRoles.ts`),\nand it is deliberately narrower than `account:read`: `account:read` is\nbaseline for every role, so gating on it would hand a `viewer` the account's\nfunding history.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/children": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Immediate children of an account (`children:read`).",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/members": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List the members of an account (`members:read`) — its own rows plus the",
        "description": "ancestor rows that cascade into it, each carrying the `source` that says\nwhich. See {@link AccountService.listMembers} for why an inherited holder\nbelongs in this list and what changes by including them (disclosure, not\npermission).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add a member by username/email (`members:invite`).",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/members/{memberId}": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Change a member's role, inheritance and/or per-member permissions",
        "description": "(`members:update`).\n\n## The escalation guards\n\n`members:update` is held by owner and admin, and an admin's baseline is a\nPROPER SUBSET of an owner's — it carries neither `account:delete` nor\n`ownership:transfer`. Without a bound on what may be conferred, this endpoint\nwould hand an admin both of those (via a confederate's row, or their own) and\nwith them the account. The two rules below are what stop that, and the\nFIRST is the load-bearing one:\n\n 1. **An actor may only grant what they themselves effectively hold.** This is\n    transitive-closure-safe on its own: whatever chain of members grant each\n    other, no permission enters the account that was not already inside it.\n    Compared against the actor's EFFECTIVE set, so an actor whose own\n    `credentials:create` was revoked cannot re-mint it through somebody else.\n 2. **An actor may not edit their OWN membership row.** Rule 1 already refuses\n    the dangerous half of a self-edit, so this is not what closes the hole; it\n    is here because rule 1 evaluated against the very row being rewritten is a\n    read-modify-write racing itself, and because \"you cannot rewrite your own\n    permissions\" is the property an operator will assume holds.\n\nEscalation to OWNER is refused structurally rather than by a rule: `role` is\ntyped to the assignable roles (owner is not among them), and `updateMember`\nrefuses an owner ROW outright, so neither the actor nor their target can reach\nownership through this endpoint at all.\n\nREVOKES are deliberately NOT subject to rule 1. An admin may revoke a\npermission they do not hold themselves — taking something away is not a\nconferral, and the alternative would leave a permission granted by a\nsince-departed owner with nobody able to withdraw it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove a member (`members:remove`). Last owner cannot be removed.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/move": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Re-parent an account (`children:update` on the account being moved). The",
        "description": "caller must ALSO hold `children:create` on the destination parent.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/switch": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Switch INTO a managed/org account — a TRUE account switch (the whole app",
        "description": "becomes that account), NOT a per-request delegation. Mints a REAL session\nwhose `user` IS the target account, exactly like switching device accounts.\n\nThe caller (operator) must hold `account:act_as` over the target. The minted\nsession records the operator (`operatedByUserId`) for audit and binds its\nvalidity to that membership — revoking it kills the session (re-checked on\nvalidate + refresh).\n\nThe minted managed session is registered into the operator's device set\nserver-side (`deviceSessionService.addAccount`, broadcast to the device room)\nso it survives reload and syncs across the device's apps via the socket.\n\nReturns the SAME shape as login / claimSession (`SessionAuthResponse`) so the\nclient plants it as the active session.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/transfer-ownership": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Transfer ownership to another active member (`ownership:transfer`).",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{id}/tree": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "The full subtree rooted at an account (`children:read`), including itself.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/accounts.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/alia/chat/completions": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Proxies chat completion requests to the Alia API.",
        "description": "Supports both streaming (SSE) and non-streaming responses.\n\nRequires a service token whose credential resolves to an active,\nplatform-trusted application (issue #981); a user session bearer is refused.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/alia/voice/token": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "POST /alia/voice/token",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/alia.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/alia/voice/transcribe": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "POST /alia/voice/transcribe",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/alia.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET /analytics",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/analytics.routes.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/analytics/followers": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET /analytics/followers",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/analytics.routes.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/analytics/update": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "POST /analytics/update",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/analytics.routes.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/analytics/viewers": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET /analytics/viewers",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/analytics.routes.ts` to fill in summary, description, request/response examples.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/app-signals/events": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Ingest a batch of directed interaction-affinity events for the requesting",
        "description": "application (`fromUserId → toUserId`, typed, optionally weighted). Each event\nis folded into a per-app, time-decayed affinity edge; self-edges are dropped\nand a supplied `eventId` is deduped. Idempotent for events carrying an\n`eventId`; at-least-once (additive/decayed) for events without one.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/app-signals/ingest": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Ingest endorsement and/or interest signals for the requesting application.",
        "description": "Idempotent — re-ingesting the same edges is a no-op; an interest signal is\nlast-write-wins.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "serviceTokenAuth": []
          }
        ]
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "Developer"
        ],
        "summary": "List applications the caller can access — i.e. every app whose owning account",
        "description": "is in the caller's accessible account forest (their own account + every\naccount they are a member of, with subtrees).\n\nWith `?ownerAccountId=<id>`: returns only that account's applications, and\nonly if the caller has effective access to that account (otherwise 403).",
        "parameters": [
          {
            "name": "ownerAccountId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Developer"
        ],
        "summary": "Create a new application owned by an account.",
        "description": "`ownerAccountId` defaults to the caller's OWN account when omitted (a\ntop-level app they own). The caller must hold `apps:create` over the owning\naccount. Staff-only fields default and are not settable here.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownerAccountId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "websiteUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "privacyPolicyUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "termsUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "icon": {
                    "type": "string"
                  },
                  "redirectUris": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "files:read",
                        "files:write",
                        "files:delete",
                        "user:read",
                        "webhooks:receive",
                        "inference:invoke",
                        "inference:models:read",
                        "inference:usage:read",
                        "inference:routing:read",
                        "inference:routing:write",
                        "inference:providers:read",
                        "inference:providers:write",
                        "updates:publish",
                        "federation:write",
                        "signals:write",
                        "reputation:write",
                        "reputation:moderation:apply",
                        "reputation:binding:register",
                        "notifications:write",
                        "payments:read",
                        "payments:write",
                        "accounts:provision",
                        "follows:read",
                        "follows:write",
                        "follows:context:write",
                        "follows:manage",
                        "follows:events",
                        "follow-targets:register",
                        "chains:write",
                        "chains:read"
                      ]
                    }
                  }
                },
                "required": [
                  "name",
                  "websiteUrl",
                  "privacyPolicyUrl",
                  "termsUrl"
                ]
              }
            }
          }
        }
      }
    },
    "/applications/{appId}": {
      "get": {
        "tags": [
          "Developer"
        ],
        "summary": "Get a single application the caller can read.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/applications.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Developer"
        ],
        "summary": "Partially update an application. Staff-only fields are applied only when the",
        "description": "caller is platform staff; otherwise they are silently dropped.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "websiteUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "privacyPolicyUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "termsUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "icon": {
                    "type": "string"
                  },
                  "redirectUris": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "files:read",
                        "files:write",
                        "files:delete",
                        "user:read",
                        "webhooks:receive",
                        "inference:invoke",
                        "inference:models:read",
                        "inference:usage:read",
                        "inference:routing:read",
                        "inference:routing:write",
                        "inference:providers:read",
                        "inference:providers:write",
                        "updates:publish",
                        "federation:write",
                        "signals:write",
                        "reputation:write",
                        "reputation:moderation:apply",
                        "reputation:binding:register",
                        "notifications:write",
                        "payments:read",
                        "payments:write",
                        "accounts:provision",
                        "follows:read",
                        "follows:write",
                        "follows:context:write",
                        "follows:manage",
                        "follows:events",
                        "follow-targets:register",
                        "chains:write",
                        "chains:read"
                      ]
                    }
                  },
                  "webhookUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "devWebhookUrl": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ],
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "pending_review"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "first_party",
                      "third_party",
                      "internal",
                      "system"
                    ]
                  },
                  "isOfficial": {
                    "type": "boolean"
                  },
                  "isInternal": {
                    "type": "boolean"
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "websiteUrl",
                  "privacyPolicyUrl",
                  "termsUrl",
                  "webhookUrl",
                  "devWebhookUrl"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Developer"
        ],
        "summary": "Soft-delete an application (`app:delete`).",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/applications.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications/{appId}/credentials": {
      "get": {
        "tags": [
          "Developer"
        ],
        "summary": "List credentials for an application. Never includes secret material.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/applications.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Developer"
        ],
        "summary": "Create a credential.",
        "description": "Secret material is returned in the response body EXACTLY ONCE and can never be\nretrieved again — only a SHA-256 hash is persisted.\n\n - `public` credentials carry no secret at all (`secret: null`).\n - `confidential` / `service` credentials return `secret`, presented BESIDE\n   the `oxy_dk_…` client id.\n - `machine` credentials return `token`: the single `oxy_sk_…` bearer string a\n   stock OpenAI SDK sends as `Authorization: Bearer …` (issue #972 §2.3).\n   `secret` stays `null` on those, so the wire shape every existing client\n   reads is unchanged and the two lanes are visibly distinct in the response\n   as well as in the table.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "public",
                      "confidential",
                      "service",
                      "machine"
                    ]
                  },
                  "environment": {
                    "type": "string",
                    "enum": [
                      "development",
                      "staging",
                      "production"
                    ]
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "files:read",
                        "files:write",
                        "files:delete",
                        "user:read",
                        "webhooks:receive",
                        "inference:invoke",
                        "inference:models:read",
                        "inference:usage:read",
                        "inference:routing:read",
                        "inference:routing:write",
                        "inference:providers:read",
                        "inference:providers:write",
                        "updates:publish",
                        "federation:write",
                        "signals:write",
                        "reputation:write",
                        "reputation:moderation:apply",
                        "reputation:binding:register",
                        "notifications:write",
                        "payments:read",
                        "payments:write",
                        "accounts:provision",
                        "follows:read",
                        "follows:write",
                        "follows:context:write",
                        "follows:manage",
                        "follows:events",
                        "follow-targets:register",
                        "chains:write",
                        "chains:read"
                      ]
                    }
                  },
                  "expiresInSeconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 63072000
                  }
                },
                "required": [
                  "name",
                  "type",
                  "environment"
                ]
              }
            }
          }
        }
      }
    },
    "/applications/{appId}/credentials/{credId}": {
      "delete": {
        "tags": [
          "Developer"
        ],
        "summary": "Revoke a credential. Revoked credentials can no longer authenticate.",
        "description": "No long-form description. Add a JSDoc block (or `@openapi` block) above this route in `src/routes/applications.ts` to fill in summary, description, request/response examples.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "credId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications/{appId}/credentials/{credId}/audit": {
      "get": {
        "tags": [
          "Developer"
        ],
        "summary": "`GET /applications/:appId/credentials/:credId/audit`",
        "description": "One credential's lifecycle trail: created, rotated, revoked, and every bearer\nthat resolved to it and was still refused. Append-only in the database rather\nthan by convention — `0043_application_credential_audit_immutability.sql`.\n\n## What it cannot return\n\nSecret material, and not because this handler is careful: the rows themselves\nhold none (`services/applicationCredentialAudit.service.ts` is their only\nwriter and takes ids and closed enums, so there is no parameter a secret could\narrive through), and the wire type has no property one could occupy — see\n{@link CredentialAuditTrailEntry}, which deliberately omits `metadata`. These\nrows exist BECAUSE the secret was shown exactly once.\n\n## Authorization is the credential routes' own, not a new one\n\n`credentials:read` over the owning account, through `requireAppPermission` —\nthe same gate `GET /:appId/credentials` uses, because this is the same data\nseen through time. A caller with no access to the application gets 403 from\n`loadApplicationContext`, exactly as every other route on this router does.\n\nThe second refusal is the one that matters, and it is the reason this handler\nreads the credential row before reading the trail: `:credId` is a caller-chosen\nid, and the audit table is keyed on the credential rather than on the\napplication. Without this read, a member of account A could pass their OWN\n`:appId` beside account B's `:credId` and be served B's trail — the shape of\nIDOR the house rules describe, arriving through a path parameter instead of a\nbody. The statement below is scoped to the resolved application, so a\ncredential that does not belong to it is a 404 and nothing else, matching what\nrotate and revoke already answer for the same input.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "credId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications/{appId}/credentials/{credId}/rotate": {
      "post": {
        "tags": [
          "Developer"
        ],
        "summary": "Rotate a credential. Mints a replacement (fresh keys) then retires the",
        "description": "previous one. The new secret material is returned EXACTLY ONCE.\n\n## Two grace policies, and the difference is the point\n\nAn OAuth/service credential is ALWAYS retired with the fixed seven-day grace\n(`deprecated`, `expires_at = now + CREDENTIAL_ROTATION_GRACE_MS`) — unchanged,\nbecause that is the contract every existing caller was written against.\n\nA `machine` credential's grace is OPT-IN (`graceSeconds`). Omitting it\n`revoked`s the previous token the instant the replacement is minted; naming it\nkeeps the old token working for exactly that long and no longer. \"Preserve the\ngrace window WHERE EXPLICITLY CONFIGURED\" (§2.3) is a real distinction and not\na default: an always-on window means a leaked API key that someone rotated in\na hurry stays live for a week, which is the opposite of what rotating it was\nfor. `graceSeconds` is refused on the other types rather than silently\nignored, so nobody can believe they narrowed a window they did not.\n\nBoth writes run in ONE transaction: a mint that landed without its matching\nretirement would leave two live credentials for the same client, which is\nexactly the state this is trying to control.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "credId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
[...]
